# Importation des modules nécessaires

In [5]:
from Extract.API import API
from Extract.Scrapping import Scrapping
from Transform.TransformData import TransformData
import pandas as pd

# Récupération de la donnée (via api)

In [6]:
# Utiliser l'API pour récupérer les données vélo/piéton
api = API()

# Lien de l'API qui retourne un CSV
lien_api_velo_pieton = (
    "https://data.rennesmetropole.fr/api/explore/v2.1/catalog/datasets/"
    "eco-counter-data/exports/csv?lang=fr&timezone=Europe%2FBerlin&"
    "use_labels=true&delimiter=%3B"
)

# Récupérer toutes les données au format CSV
csv_pieton_velo_rennes = api.get_api_data(lien_api_velo_pieton)

# Vérifier et afficher les données récupérées
if csv_pieton_velo_rennes is not None:
    print(f"Total d'enregistrements récupérés : {len(csv_pieton_velo_rennes)}")
else:
    print("Aucune donnée récupérée.")

df = pd.DataFrame(csv_pieton_velo_rennes)
df.head()

Les données ont été chargées avec succès.
Total d'enregistrements récupérés : 136354

,date,isoDate,counts,status,ID,name,counter,geo,sens
0,2015-12-27T19:00:00+01:00,2015-12-27T18:00:00+0100,5.0,0.0,100017942,Boulevard Georges Pompidou,NaN,"48.1014223209623, -1.68490237617492",5
1,2015-12-28T04:00:00+01:00,2015-12-28T03:00:00+0100,1.0,0.0,100017942,Boulevard Georges Pompidou,NaN,"48.1014223209623, -1.68490237617492",5
2,2015-12-28T13:00:00+01:00,2015-12-28T12:00:00+0100,8.0,0.0,100017942,Boulevard Georges Pompidou,NaN,"48.1014223209623, -1.68490237617492",5
3,2015-12-28T18:00:00+01:00,2015-12-28T17:00:00+0100,16.0,0.0,100017942,Boulevard Georges Pompidou,NaN,"48.1014223209623, -1.68490237617492",5
4,2015-12-28T22:00:00+01:00,2015-12-28T21:00:00+0100,2.0,0.0,100017942,Boulevard Georges Pompidou,NaN,"48.1014223209623, -1.68490237617492",5

# Récupération de la data (via scrapping)

# Transformation de la data

In [7]:
scrap = Scrapping()
col, data = scrap.scrap_site()
df = pd.DataFrame(data, columns=col)
df.head()

,Heure locale\naccess_time\n30mn\nMETAR,,Température,Temps,Pluie,Vent,Humidité,Bio-météo,Pt. de rosée,Pression,Visibilité
0,16h,add_circle_outline,18.8 °C\n17 → 18.8,,0 mm/1h,6 km/h\nraf.19.8,75%,400,14.3 °C,1016.5hPa,24 km
1,15h,add_circle_outline,17.0 °C\n14.6 → 17,,0 mm/1h,11 km/h\nraf.22.7,82%,278,13.9 °C,1017.5hPa,19 km
2,14h,add_circle_outline,14.5 °C\n13.3 → 14.5,,0 mm/1h,14 km/h\nraf.19.4,93%,139,13.4 °C,1018.2hPa,16 km
3,13h,add_circle_outline,13.3 °C\n12.4 → 13.4,,0 mm/1h,11 km/h\nraf.22.7,95%,136,12.5 °C,1019.3hPa,14 km
4,12h,add_circle_outline,12.4 °C\n10.9 → 12.4,,0 mm/1h,11 km/h\nraf.22.7,98%,94,12.1 °C,1019.7hPa,2.8 km

In [8]:
transform = TransformData()

df = transform.rename_column(df, 'Heure locale\naccess_time\n30mn\nMETAR', 'Heure_locale')
df = transform.remove_column(df, ['', 'Temps', 'Bio-météo'])
df = transform.remove_currency_symbols(df, ['Heure_locale', 'Humidité', 'Pression', 'Visibilité', 'Température', 'Pluie', 'Vent', 'Pt. de rosée'])

df.head()

Traitement de la colonne: Heure_locale
Traitement de la colonne: Humidité
Traitement de la colonne: Pression
Traitement de la colonne: Visibilité
Traitement de la colonne: Température
Traitement de la colonne: Pluie
Traitement de la colonne: Vent
Traitement de la colonne: Pt. de rosée

,Heure_locale,Température,Pluie,Vent,Humidité,Pt. de rosée,Pression,Visibilité
0,16,18.8,0,6,75,14.3,1016.5,24
1,15,17.0,0,11,82,13.9,1017.5,19
2,14,14.5,0,14,93,13.4,1018.2,16
3,13,13.3,0,11,95,12.5,1019.3,14
4,12,12.4,0,11,98,12.1,1019.7,2.8